*{
    padding: 0;
    
}
#container{
    display: flex;
    justify-content: center;
    height: 10vw;
    align-items: center;
}
menu{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10vw, 90vw;
    height: 80vh;
    gap: 2vh;
}
article{
    border: 2px solid black
}
#container{
    grid-area: 1/1/1/8/1;
}

h2{
    display: flex;
    justify-content: center;
}