*{
    padding: 0;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 20vw 5vw 50vw 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 8vh;
    background-color: rgb(247, 101, 59);
}

header a{
    text-decoration: none;
    color: white;
}
.search{
    grid-area: 1/3/1/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 90%;
    height: 50%;
    
}
.title{
    grid-area: 1/1/1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
menu{
    display: grid;
    grid-template-columns: 30vw 1fr 30vw;
    grid-template-rows: 8vw repeat(2, 1fr);
    width: 100vw;
    height: 84vh;
}
.video-2{
    grid-area: 2/2/2/3;
    
}
.video-2 video{
    max-width: 100%;
}
footer{
    background-color: rgb(247, 101, 59);
    color: white;
    display:flex;
    width: 100vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px){
    menu{
        grid-template-columns: 1fr;
        grid-template-rows: 1 fr;
    }
    h1{
        font-size: 11px;
    }
    input{
        height: 30%
    }
}